@import url(geral.css);

div.tit {
    text-align: center;
    margin-bottom: 100px;
}
div.tit h1:before {
    content: "💻";
}
section.caixas {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
div.caixa {
    background-color: rgba(105, 105, 105, 0.336);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.651);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    width: 250px;
}
div.caixa:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgb(18, 25, 32);
    cursor: pointer;
}
div.caixa h4 {
    padding: 0;
    margin: 0;
}
div.caixa p {
    padding: 0;
    margin: 0;
}
p.preco {
    font-size: larger;
    color: green;
    font-style: italic;
    font-weight: bold;
}
div.caixa img {
    width: 100%;
    border-radius: 20px;
}